.mxpHero{
    background-size: 100%;
    background-position: center 37%;
    transition: all 1s ease;
}
.mxpHeroBody{
    background-color: rgba(0,0,0,0.7);
    transition: all 1s ease;
}
.mxpHeroBody:hover{
    background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 768px){
    .mxpHeroBody{
        background-color: rgba(0,0,0,0.5);
    }
}